<!-- <div>
  <input type="file" (change)="onFileSelected($event)">
    <button (click)="onUpload()">Upload</button>
</div>
<div>
  <button (click)="analyzeLogs()">
    Analyze
  </button>
</div>
<div>
  {{logLevelCountPercentage}}
</div> -->
<div class="office-background">
  <header class="fixed-header">

<div class="titleLog">
  Log Analyzer
</div>
  </header>
  
  <div class="container mt-5 mb-5">
    <div class="row ">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>Drag and Drop Your Log File Here Note:File should be <span style="    font-weight: 800;
              color: yellow;">txt or .log format</span></h4>
          </div>
          <div class="card-body">
            <div class="">
              <!-- <input type="file" name="file" id="file" class="drop-zone__input"> -->
              <input type="file" class="drop-zone" style="    width: 100%;"  name="file" id="file" (change)="onFileSelected($event)" accept=".txt,.log">
              <!-- <button type="button">Reset</button> -->
            </div>
          </div>
        </div>
      </div>

      <div  class="col-md-6 ">
        <div *ngIf="show" class="card analyzeLogButn" >
          <div class="card-header  text-white" style="background-color: grey;">
            <h4>Click below to analyze</h4>
          </div>
          <div class="card-body">
            <div class="">
              <button class="drop-zone big-button" style="    width: 100%;"  (click)="analyzeLogsOnUpload()">
                Analyze Log File
              </button>            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="showChartAndTable" class="row" style=" margin-top: 2%;">
      <div class="col-md-6">
        <div *ngIf="chartOptions" style="width: 500px;background-color: white;">
          <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions">
        </highcharts-chart>
        </div>
        
      </div>

      <div class="col-md-6" >
        <div style="background-color: white;">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Log Type</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
    
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      </div>
    </div>

    <div *ngIf="showChartAndTable" class="row">
      <div class="col-md-4">
        <label  class="fromToDateLabel" for="from-time">From:</label>
        <input  class="fromToDate" type="text" id="from-time" [(ngModel)]="fromTime" placeholder="yyyy-MM-dd HH:mm:ss">
      </div>
      <div class="col-md-4">
        <label class="fromToDateLabel" for="to-time">To:</label>
        <input class="fromToDate" type="text" id="to-time" [(ngModel)]="toTime" placeholder="yyyy-MM-dd HH:mm:ss">
      </div>
      
      <div class="col-md-4">
        <div>
          <label class="fromToDateLabel" for="to-time">Log Type</label>
          <select style="width: 100%;
          height: 33px;" [(ngModel)]="selectedLogTypeDrpdown">
            <option *ngFor="let option of logTypeDrpdownOptions" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
        
      </div>

      <div class="col-md-10 offset-md-1">
<div>
  <input style="width: 100%;
  height: 100px;" type="text" [(ngModel)]="globalSearchInput" />
<!-- <p>You entered: {{ globalSearchInput }}</p> -->
</div>
      </div>
      <div style="    padding-bottom: 2%;"  class="col-md-4 offset-md-4"><button style="    width: 100%;" type="button" class="btn btn-primary btn-block" (click)="searchLogs()">Search Log</button></div>
      
    </div>



    <div *ngIf="showChartAndTable" class="row" style="    margin-bottom: 4%;
    background-color: white;">

      <!-- <div class="content">
        <ul>
          <li *ngFor="let content of contentArray">{{ content }}</li>
        </ul>
      </div>
    </div> -->
    <div class="logs-container content">
      <div class="logs-heading">Logs</div>
      <div class="logs-body">
        <div *ngFor="let log of filteredLogs" class="log">
          <span [ngStyle]="{'color': getFontColor(log.logLevel)}">{{log.date+ " "+log.time+ " "+log.logLevel+ " "+log.thread+ " "+log.message}}</span>
        </div>
      </div>
    </div>
  </div>
  
  <footer style="text-align: center;">
<div style="align-self: center;
width: 100%; padding-top: 1%;">
© [2023]. All Rights Reserved. Website developed by [Vikrant Zore] using [Angular 15].
</div>  </footer>


</div>